* {
    padding: 0;
    margin: 0;
}

.item {
    position: relative;
    margin-bottom: 5px;
}

.item img {
    display: block;
    margin: 0 auto;
    height: 100%;
}

.carousel-indicators li {
    color: black;
}

.carousel-indicators li.active {
    color: black;
}

#nav--bar {
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    background-color: #01BCF1;
}

#nav--bar .menu-icon {
    float: left;
}

#nav--bar .search-icon {
    float: right;
}

#nav--bar .nav-icon {
    color: #fff;
    font-size: 30px;
    margin: 20px;
}

.content-warp {
    background-color: #fff;
    width: 100%;
}

.content {
    position: relative;
    margin-bottom: 10px;
}

.content .nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    left: 10px;
    text-align: center
}

.content .title {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.content .subTitle {
    color: #fff;
    font-size: 10px;
}
