<left-nav>
    <ul id="left-nav">
        <li class="left-nav-list">糖尿病足预防</li>
        <li class="left-nav-list">中老年保护</li>
        <li class="left-nav-list">3d定制鞋</li>
        <li class="left-nav-list"><a href="./detal_1.html" style="color: #ffffff">压力检测设备</a></li>
        <li class="left-nav-list">合作学会</li>
        <li class="left-nav-list">活动中心</li>
        <li class="left-nav-list">关于我们</li>
    </ul>

    <script>

    </script>
    <style>
        #left-nav {
            background-color: #EFEFEF;
            position: absolute;
            top: 70px;
            left: -30%;
            width: 30%;
            bottom: 0;
        }

        .left-nav-list {
            margin: 10px auto;
            list-style: none;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 5px;
            background: linear-gradient(to bottom, #97CDE7 5%, #010005);
            color: #ffffff;
            font-size: 8px;
        }
    </style>
</left-nav>
