<main-layout>
    <div style="position: relative" id="main">
        <yield/>
    </div>

    <script>
        this.on("mount", function () {
            var $menuIcon = $(".menu-icon"),
                $leftNav = $("#left-nav"),
                $main = $("#main");

            $menuIcon.on("touchend", function () {
                $leftNav.animate({
                    left: "0"
                });
                $main.animate({
                    left: "30%"
                })
            });

            $(document.body).on("click", function () {
                if ($leftNav.css("left") !== "0px") return;
                $leftNav.animate({
                    left: "-30%"
                });
                $main.animate({
                    left: "0"
                })
            });
        })
    </script>
</main-layout>
